<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head"></head>

    <body>

        <header th:replace="plantilla/template::header"></header>

        <div class="container"> 



            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">



                <!-------------------Esto es un Formulario--------------- -->
                <div class="container">
                    <form th:object = "${persona}"
                          th:action="@{/save}"
                          method="POST"
                          >
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label class="col-md-2 col-form-label" for="nombre">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{nombre}" placeholder= "Nombre Cliente" id="nombres" aria-describedby="emailHelp">
                            </div>
                        </div>



                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-md-2 col-form-label" for="apellido1">Apellido 1</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{apellido1}" class="form-control form-control-sm col-md-6" placeholder= "Apellido 1" id="apellido1" aria-describedby="emailHelp">
                            </div>
                        </div>



                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-form-label col-md-2" for="apellido2">Apellido 2</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{apellido2}" class="form-control form-control-sm col-md-6" placeholder= "Apellido 2" id="apellido2" aria-describedby="emailHelp">
                            </div>
                        </div>



                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-form-label col-md-2" for="telefono">Telefono</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{telefono}" class="form-control form-control-sm col-md-6" placeholder= "Telefono" id="telefono" aria-describedby="emailHelp">
                            </div>
                        </div>



                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-form-label col-md-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{email}" class="form-control form-control-sm col-md-6" placeholder= "Email" id="email" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label class="form-control-sm col-form-label col-md-2" for="paises">Pais</label>
                            <div class="col-sm-10">
                                <select th:field="*{pais}" class="form-control form-control-sm col-md-6" id="pais" aria-describedby="emailHelp">
                                    <option th:each="x:${paises}"
                                            th:value="${x.id}"
                                            th:text="${x.pais}"/>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
                    </form>
                </div>
            </div>
        </div>



    </body>

    <footer th:replace="plantilla/template::footer"></footer>

</html>